/* ## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */

body {
  background: url("./images/bg-pattern-top.svg") right 50vw bottom 40vh
      no-repeat,
    url("/images/bg-pattern-bottom.svg") left 50vw top 50vh no-repeat,
    hsl(185, 75%, 39%);
}
#card {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  background-color: hsl(0, 0%, 99%);
  border-radius: 10px;
}
.card-bg img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.avatar img {
  border-radius: 50%;
}
.avatar {
  margin-top: -50px;
}
.card-text {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
.card-text p {
  opacity: 0.5;
}
.card-text h1 span {
  opacity: 0.4;
}
hr {
  width: 348px;
  opacity: 0.5;
}
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
.info p {
  opacity: 0.5;
}
